main .landing {
    background-image: url('../../images/concert1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    /* position: absolute; */
}

main .landing p {
    /* background-color: #FEC3A6; */
    background-color: #FF6542;
    color: white;
    position: relative; 
    transform: translateY(-50%);
    top: 50%;
    padding: 50px;
    /* border-top: solid; 
    border-bottom: solid;  */
    border: solid;
    border-width: 0.5px;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    font-size: large;
}

main h2 {
    padding: 40px;
}

main .instructions {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

main .instructions .instruction {
    border: solid; 
    width: 100%; 
    border-width: 0.5px;
    padding: 50px;
}

main .instructions .instruction svg {
    height: 30px;
    width: auto;
}

main .login-spotify {
    /* height: 1000px; */
    padding-bottom: 200px;
    margin-top: 100px;
}

main .login-spotify button {
    background-color: #1db954;
    color: #ffff; 
    border: none; 
    padding: 20px;
    padding-left: 50px; 
    padding-right: 50px;
    border-radius: 25px;
    /* margin-bottom: 30px; */
    font-size: 18px;
}

main .login-spotify h4 {
    margin-bottom: 50px;
}

main .login h1 svg {
    color: black;
}

/* media query for iphone */

@media all and (max-width: 450px) {
    /* main {
        width: 100%; 
    } */

    main .landing p {
        width: inherit;
    }

    main .instructions {
        flex-direction: column;
    }

    main .instructions .instruction {
        width: inherit;
    }
}
