#instagram .container1, #instagram .container2, #spotify .container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#instagram .impressions-container, #instagram .reach-container, #instagram .cities-container, #instagram .demographics-container, #spotify .listeners, #spotify .streams {
    width: 50%;
    border: solid;
}




