main nav ul {
    border: solid;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}

main nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    font-style: italic;
}

#report .report-container, #report .venue-container, #instagram .ig-container1, #instagram .ig-container2, #spotify .spotify-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#report .venue-container iframe {
    width: 100%;
    margin: 0 auto;
    border: solid;
    height: 400px;
}

#report .report-container .recommendation, #instagram .impressions-container, #instagram .reach-container, #instagram .cities-container, #instagram .demographics-container, #spotify .listeners, #spotify .streams {
    width: 50%;
    border: solid;
    background: #FEC3A6;
}

#report h3 {
    padding: 30px;
}

#instagram h3, #spotify h3, #resources h3 {
    padding: 45px;
}

#spotify {
    padding-bottom: 30px;
    border-bottom: solid;
}

#resources {
    padding-bottom: 50px;
}

#resources .resource a:link, main nav ul li a:link {
    color: black;
    text-decoration: none;
}

#resources .resource a:visited, main nav ul li a:visited {
    color: black;
}

#resources .resource a:hover, main nav ul li a:hover {
    text-decoration: underline;
}

#resources .resource svg {
    height: 45px;
    width: auto;
}

#resources .resource h5 {
    font-size: 15px;
}





