.login {
    padding-bottom: 200px;;
}

.login img {
    width: 800px; 
    height: auto; 
    margin-top: 30px;
    border: solid;
    border-width: 0.5px;
    border-radius: 0;  
}

.login h2 {
    margin-bottom: 50px;
}

.login h4 {
    margin-top: 80px;
}

.login button {
    border-radius: 25%;
}

/* .login button {
    background-color: #1db954;
    color: #ffff; 
    border: none; 
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 30px;
} */