.login {
    padding-bottom: 200px;;
}

.login img {
    width: 800px; 
    height: auto; 
    margin-top: 30px;
    border: solid;
    border-width: 0.5px;
    border-radius: 0;  
}

.login h2 {
    margin-bottom: 50px;
}

.login h4 {
    margin-top: 80px;
}

.login button {
    border-radius: 25%;
}

/* media query for iphone */

@media all and (max-width: 450px) {
    .login h2 {
        margin: 0 auto;
        width: 80%; 
    }

    .login .csv-reader-input input {
        width: 50%; 
    }

    .login img {
        width: 80%; 
    }

}

/* media query for ipad (vertical) */

@media all and (min-width: 760px) and (max-width: 1030px) {
    .login img {
        width: 80%; 
    }
}